<% if options[:use_webpacker_chunks] %>
<%= "<%= javascript_packs_with_chunks_tag '#{plural_name}/#{plural_name}_show_page' %%>" %>
<% end %>
<% if options[:use_webpacker] %>
<%= "<%= javascript_pack_tag '#{plural_name}/#{plural_name}_show_page' %%>" %>
<% end %>
<div id="<%= "#{plural_name}-show-page-mount-point" %>" data-<%= singular_name.dasherize %>-id=<%= "<%= @#{singular_name}.id  %%>" %>></div>