import React from 'react';
import ReactDOM from 'react-dom';
import <%= plural_name.camelize %>Form from './<%= plural_name %>_form';

const <%= plural_name.camelize %>EditPage = ({ <%= singular_name.camelize(:lower)%>Id }) => {

  return (
    <div>
      <<%= plural_name.camelize %>Form <%= singular_name.camelize(:lower) %>Id={<%= singular_name.camelize(:lower)%>Id} />
    </div>
  );
};

<% if options['use_remount'] %>
/* REMOUNT COMING SOON */
<% else %>
document.addEventListener('DOMContentLoaded', () => {
  const mountPoint = document.getElementById('<%= "#{plural_name}-edit-page-mount-point" %>');
  
  if(mountPoint) {
    ReactDOM.render(<<%= "#{plural_name.camelize}EditPage" %> />, mountPoint);
  }
});
<% end %>