import React from 'react';
import { useState, useEffect } from 'react';

const <%= plural_name.camelize %>Form = ({ <%= singular_name.camelize(:lower)%>Id }) => {

  const [loading, setLoading] = useState(true);
  const [submitting, setSubmitting] = useState(false);
  <%- editable_attributes.each do |attribute| -%>
  const [<%= attribute.name.camelize(:lower) %>, <%= "set#{attribute.name.camelize}" %>] = useState();
  <%- end -%>

  const load<%= singular_name.camelize %> = () => {
    if (<%= singular_name.camelize(:lower)%>Id) {
      const url = `/<%= plural_name %>/${<%= singular_name.camelize(:lower)%>Id}`;

      <%- if options[:ajax_engine] == 'fetch' -%>
      fetch(url, { headers: { Accept: 'application/json' } })
      .then((response) => {
        if (response.status === 200) {
          return response.json();
        }
        return undefined;
      })
      .then((responseJson) => {
        if (responseJson) {
          <%- editable_attributes.each do |attribute| -%>
          <%= "set#{attribute.name.camelize}" %>(responseJson.<%= attribute.name %>);
          <%- end -%>
        }
        setLoading(false);
      });
      <%- end -%>
      <%- if options[:ajax_engine] == 'jquery' -%>
      $.getJSON(url, (result) => {
        <%- editable_attributes.each do |attribute| -%>
        <%= "set#{attribute.name.camelize}" %>(result.<%= attribute.name %>);
        <%- end -%>
        setLoading(false);
      });
      <%- end -%>
      <%- if options[:ajax_engine] == 'axios' -%>
      /* Axios coming soon */
      <%- end -%>
    } else {
      setLoading(false);
    }
  }

  const handleSubmit = () => {
    setSubmitting(true);

    let method = 'POST';
    let url = '/<%= plural_name %>';
    let redirectUrl = '/<%= plural_name%>';
    const data = {
      <%= singular_name %>: {
        <%- editable_attributes.each do |attribute| -%>
        <%= attribute.name %>: <%= attribute.name.camelize(:lower) %>,
        <%- end -%>
      }
    };

    if (<%= singular_name.camelize(:lower)%>Id) {
      method = 'PUT';
      url = `/<%= plural_name %>/${<%= singular_name.camelize(:lower)%>Id}`;
      redirectUrl = `/<%= plural_name %>/${<%= singular_name.camelize(:lower)%>Id}`;
    }

    <%- if options[:ajax_engine] == 'fetch' -%>
    const csrfToken = document.querySelector("[name='csrf-token']").content;

    fetch(url, {
      method,
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json',
        'X-CSRF-Token': csrfToken,
      },
      body: JSON.stringify(data),
    }).then((response) => {
      if (response.status === 200 || response.status === 201) {
        window.location.href = redirectUrl;
      }
    });
    <%- end -%>
    <%- if options[:ajax_engine] == 'jquery' -%>

    $.ajax({
      url,
      method,
      data,
      dataType: 'JSON',
      success: () => {
        window.location.href = redirectUrl;
      },
      error: () => {}
    });
    <%- end -%>
    <%- if options[:ajax_engine] == 'axios' -%>
    /* Axios coming soon */
    <%- end -%>
  };

  useEffect(() => {
    load<%= singular_name.camelize %>();
  }, []);

  return (
    <div>
      {
        loading ?
          "Loading.."
        :
        <>
          <%- editable_attributes.each do |attribute| -%>
          <div className="field">
            <label><%= attribute.name.titleize %></label>
            <input type="text" value={<%= attribute.name.camelize(:lower) %>} onChange={(e) => set<%= attribute.name.camelize %>(e.target.value)} />
          </div>
          <%- end -%>
          <div className="actions">
            <input type="submit" value={submitting ? 'Submitting...' : 'Submit'} onClick={handleSubmit} />
          </div>
        </>
      }
    </div>
  );
};

export default <%= plural_name.camelize %>Form;