import React from 'react';
import ReactDOM from 'react-dom';
import <%= plural_name.camelize %>Form from './<%= plural_name %>_form';

const <%= plural_name.camelize %>NewPage = () => (
  <div>
    <h1>New <%= singular_name %></h1>
    <<%= plural_name.camelize %>Form />
  </div>
);

<%- if options['use_remount'] -%>
/* REMOUNT COMING SOON */
<%- else -%>
document.addEventListener('DOMContentLoaded', () => {
  const mountPoint = document.getElementById('<%= "#{plural_name}-new-page-mount-point" %>');
  
  if(mountPoint) {
    ReactDOM.render(<<%= "#{plural_name.camelize}NewPage" %> />, mountPoint);
  }
});
<%- end -%>